<div class="container-fluid row">
    <h5 class="text-center text-primary">Static Echarts</h5>
<div class="col-md-6">
  <div class="card">
    <div echarts [options]="lineChart" class="chart"></div>
    <p class="text-center text-danger">Line chart</p>
  </div>
</div>
<div class="col-md-6">
<div class="card">
    <div echarts [options]="barChart" class="chart"></div>
    <p class="text-center text-danger">Bar chart</p>
</div>
</div>
<div class="col-md-6">
<div class="card">
    <div echarts [options]="pieChart" class="chart"></div>
    <p class="text-center text-danger">Pie chart</p>
</div>
</div>
<div class="col-md-6">
   <div class="card">
    <div echarts [options]="Doughnut" class="chart"></div>
    <p class="text-center text-danger">Doughnut chart</p>
   </div>
</div>
</div>
