<div>
    <h1 class="text-center text-danger mt-3">Exploring Angular Fundamentals and Data Visualization with ECharts</h1>
  </div>

  <div class="container mt-4">
    <div class="alert alert-info">
    <h5>Static Chart</h5>
    <p>I have created a static EChart with hardcoded data.</p>
</div>
    <div class="alert alert-primary">
        <h5>Dynamic Chart</h5>
        <p>A Dynamic Chart updates its data or type based on user interaction or real-time input. This helps make data more interactive and personalized for the viewer.</p>
    </div>
    <div class="alert alert-secondary">
        <h5>Select Option Chart</h5>
        <p>A Select Option Chart allows users to choose different chart types (like line, bar, pie, or doughnut) using a dropdown. This enhances flexibility and user control in data visualization.</p>
    </div>
  </div>
  
